@using FlagShip_Manager.Helpers
@*
    Buttons for controlling Job status
*@

<style>
    .JobButtons {
        background: #595959;
        -webkit-text-fill-color: #E4E4E4;
        height: 25px;
        width: 70px;
        border: none;
        border-radius: 15px;
        font-size: 10px;
        align-items: center;
        margin-left: 1px;
        margin-right: 1px;
        position: relative;
        bottom: 1.5px;
    }

    .JobButtons:active {
        transition-duration: 0.1s;
        transition-property: all;
        background: #737370;
        height: 23px;
        margin-left: 2px;
        margin-right: 2px;
        width: 68px;
    }

    .JobButtons:hover {
        background: #737373;
    }

</style>

@if(!Archive)
{
    <div class="TableCell" style="width: 10px;"></div>
    <div class="TableCell"><button class="JobButtons" style="visibility: @ShowHideCancelButton(_Status)" @onclick="() => RunSingleAction(1,_JID)">Cancel</button></div>
    @if (_Status == 3 || _Status == 5)
    {
        <div class="TableCell"><button class="JobButtons" style="visibility: @ShowHideResumeButton(_Status)" @onclick="() => RunSingleAction(6,_JID)">Resume</button></div>
    }
    else
    {
        <div class="TableCell"><button class="JobButtons" style="visibility: @ShowHideCancelButton(_Status)" @onclick="() => RunSingleAction(2,_JID)">Pause</button></div>
    }
    <div class="TableCell"><button class="JobButtons" @onclick="() => RunSingleAction(3,_JID)">Restart</button></div>
    <div class="TableCell"><button class="JobButtons" @onclick="() => RunSingleAction(5,_JID)">Archive</button></div>
}
else
{
    <div class="TableCell" style="width: 80px;"></div>
    <div class="TableCell"><button class="JobButtons" @onclick="() => RunSingleAction(8,_JID)">Re-Queue</button></div>
    <div class="TableCell"><button class="JobButtons" @onclick="() => RunSingleAction(4,_JID)">Restart</button></div>
    <div class="TableCell"><button class="JobButtons" @onclick="() => RunSingleAction(7,_JID)">Delete</button></div>
}
@code {
    [Parameter]
    public int _Status { get; set; } = 0;
    [Parameter]
    public int _JID { get; set; } = 0;
    [Parameter]
    public bool Archive { get; set; } = false;
    [Parameter]
    public EventCallback UpdateList { get; set; }
    [Parameter]
    public EventCallback<int> CheckID { get; set; }

    public string ShowBatch { get; set; } = "block";


    private async void RunSingleAction(int Action, int ID)
    {
        //Calls the webButton action.

        int[] temp = new int[1];
        temp[0] = ID;
        await CheckID.InvokeAsync(ID);
        WebButtons.RunAction(Action, temp);
        UpdateList.InvokeAsync();
        
        
    }
    public string ShowHideCancelButton(int _status)
    {
        //Toggles weither the Cancel button is visable depending on Job status.

        if (_status == 5 || _status == 2 || _status == 4) return "hidden";
        else return "visible";
    }
    public string ShowHideResumeButton(int _status)
    {
        //Thoggles weither the Pause or resume button is visable.

        if (_status == 5 || _status == 3) return "visible";
        else return "hidden";
    }
    
}
