@using FlagShip_Manager.Helpers;
@using FlagShip_Manager.Objects;
@using FlagShip_Manager.Management_Server;
@*
    Buttons for controlling Job status
*@

<style>
    .JobButtons {
        background: #595959;
        -webkit-text-fill-color: #E4E4E4;
        height: 25px;
        width: 70px;
        border: none;
        border-radius: 15px;
        font-size: 10px;
        align-items: center;
        margin-left: 1px;
        margin-right: 1px;
        position: relative;
        bottom: 1.5px;
    }

    .JobButtons:active {
        transition-duration: 0.1s;
        transition-property: all;
        background: #737370;
        height: 23px;
        margin-left: 2px;
        margin-right: 2px;
        width: 68px;
    }

    .JobButtons:hover {
        background: #737373;
    }

</style>

@if(!activeJob.Archive)
{
    <div class="TableCell" style="width: 10px;"></div>

    <div class="TableCell">
        <button class="JobButtons" style="visibility: @ShowHideCancelButton(activeJob.Status)" @onclick="() => {
        activeJob.Cancel();

    }">Cancel</button></div>
    
    @if (activeJob.Status == 3 || activeJob.Status == 5)
    {
        <div class="TableCell">
            <button class="JobButtons" style="visibility: @ShowHideResumeButton(activeJob.Status)" @onclick="() => {
            activeJob.PauseOrResume();

        }">Resume</button></div>
    }
    else
    {
        <div class="TableCell">
            <button class="JobButtons" style="visibility: @ShowHideCancelButton(activeJob.Status)" @onclick="() => {
            activeJob.PauseOrResume();

        }">Pause</button></div>
    }
    <div class="TableCell"><button class="JobButtons" @onclick="() => {
        activeJob.Restart();

    }">Restart</button></div>
    
    <div class="TableCell"><button class="JobButtons" @onclick="() => {
        DB.AddToArchive(activeJob, true);

    }">Archive</button></div>
}
else
{
    <div class="TableCell" style="width: 80px;"></div>
    <div class="TableCell"><button class="JobButtons" @onclick="() => {
        ReturnJobToQueue(activeJob);

        }">Re-Queue</button></div>
    
    <div class="TableCell"><button class="JobButtons" @onclick="() => {
        activeJob.Restart(); 
        DB.AddToActive(activeJob, true);

    }">Restart</button></div>
    
    <div class="TableCell"><button class="JobButtons" @onclick="() => {
        DB.RemoveJob(activeJob);

    }">Delete</button></div>
}
@code {
    [Parameter]
    public Job activeJob { get; set; }
    [Parameter]
    public EventCallback UpdateList { get; set; }


    public string ShowBatch { get; set; } = "block";

    public string ShowHideCancelButton(int _status)
    {
        //Toggles weither the Cancel button is visable depending on Job status.

        if (_status == 5 || _status == 2 || _status == 4) return "hidden";
        else return "visible";
    }
    public string ShowHideResumeButton(int _status)
    {
        //Thoggles weither the Pause or resume button is visable.

        if (_status == 5 || _status == 3) return "visible";
        else return "hidden";
    }
    public static void ReturnJobToQueue(Job j)
    {
        //Moves job from Archive to Active queue.

        if (!j.finished)
        {
            j.Status = 0;
            foreach (var rt in j.renderTasks)
            {
                if (rt.Status != 2) rt.Status = 0;
            }
        }
        DB.AddToActive(j, true);
    }
    
}
